{#{% extends 'base.html' %}#}
{% load static %}
<html lang="en">
<head>
{#    <meta charset="UTF-8">#}
<meta name="viewport" content="width=device-width, initial-scale=1">
{#    <title>Add Diary Entry</title>#}
    <title>{% if entry_id %}Edit Diary Entry{% else %}Add Diary Entry{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=3">
</head>
<body>

    <div class="date-time">
       <p>{% now "F j, Y H:i" %}</p>
        <a href="{% url 'home' %}"><button>Back to Home</button></a>
    </div>

{% block content %}
<div class="notepad-container">



{#    <h1>What's on your mind today?</h1>#}
   <h1>{% if entry_id %}Edit Diary Entry{% else %}What's on your mind today?{% endif %}</h1>

{#   <form method="post" action="{% url 'save_entry' %}" class="entry-form">#}
    <form method="post" action="{% if entry_id %}{% url 'save_entry_with_id' entry_id=entry_id %}{% else %}{% url 'save_entry' %}{% endif %}" class="entry-form">
        {% csrf_token %}
       <div>
            {{ form.title.label_tag }}
            {{ form.title }}
       </div>
       <div>
            {{ form.content.label_tag }}
            {{ form.content }}
       </div>
      {% if entry.id %}
{#            Display the save modifications button only for existing entries#}
           <button type="submit" name="action" value="save_modifications">Save Modifications</button>
       {% else %}
{#            Display the save entry button for new entries#}
           <button type="submit" name="action" value="save_entry">Save Entry</button>
       {% endif %}
    </form>



</div>
{% endblock %}

</body>
</html>