<!--{% extends home.html %}-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Diary Entry</title>
    <link rel='stylesheet' href='main.css'>
</head>
<body>
<div class="notepad-container">

    <div>
        <img src="logo.png" alt="Women's Diary Logo">
    </div>
    <div class="date-time">
       <p>Debug: {% now "F j, Y H:i" %}</p>
    </div>
    <h1>What's on your mind today?</h1>
    <form method="post" action="{% url 'save_entry' %}">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" required>
        <label for="content">Diary Content:</label>
        <textarea name="content" rows="10" required></textarea>
        <button type="submit">Save Entry</button>
    </form>
</div>
</body>
</html>