{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Women's Diary </title>
    <link rel='stylesheet' href='/static/css/signup.css'>
</head>
<body>
<div class="landing-page">
{#<header>#}
{#     <img src="../../static/css/logo.png" alt="Women's Diary Logo">#}
{#</header>#}
    <div class="content">

        <h1>Welcome to Women's Diary</h1>

        <p>Explore your thoughts and feelings in your personal diary.</p>

        <!-- Display recent diary entries here -->
        <h2>Recent Diary Entries</h2>
        <ul>
            {% for entry in recent_entries %}
                <li>{{ entry.title }} - {{ entry.date }}</li>
            {% endfor %}
        </ul>

    <a href="{% url 'add_entry' %}" >Add Diary Entry</a>
    </div>
</div>
</body>
</html>
