<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Confirmation</title>
</head>
<body>
    <p>Hello {{ user.username }},</p>
    <p>We received a request to reset your password. Please click the link below to set a new password:</p>
    <a href="http://127.0.0.1:8000/new_password/{{ uidb64 }}/{{ token }}/">
        Reset Password
    </a>
    <p>If you didn't request a password reset, you can ignore this email.</p>
    <p>Best regards,<br> Your Site Team</p>
</body>
</html>
