<!--{% load static %}-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--   <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--   <link rel='stylesheet' href='/Users/tsitsi/Desktop/django-diary/wdiary/static/css/signup.css'>-->
<!--    <title>My Women's Diary {% block title %}-->
<!--    {% endblock %}</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div id="login-form">-->
<!--        <h2>Login</h2>-->
<!--        <form id="loginForm">-->
<!--            <label for="loginUsername">Username:</label>-->
<!--            <input type="text" id="loginUsername" name="loginUsername" required>-->

<!--            <label for="loginPassword">Password:</label>-->
<!--            <input type="password" id="loginPassword" name="loginPassword" required>-->

<!--            <button type="button" onclick="login()">Login</button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div id="signup-form">-->
<!--        <h2>Sign Up</h2>-->
<!--        <form id="signupForm">-->
<!--            <label for="signupUsername">Username:</label>-->
<!--            <input type="text" id="signupUsername" name="signupUsername" required>-->

<!--            <label for="signupEmail">Email:</label>-->
<!--            <input type="email" id="signupEmail" name="signupEmail" required>-->

<!--            <label for="signupPassword">Password:</label>-->
<!--            <input type="password" id="signupPassword" name="signupPassword" required>-->

<!--            <button type="button" onclick="signup()">Sign Up</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="script.js"></script>-->
<!--</body>-->
<!--</html>-->