
button:hover {
    background-color: #45a049;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(-135deg, rgba(144, 77, 232, 0.97) 0%, rgba(185, 183, 183, 0.4) 100%);
    /*position: absolute; !* Add relative positioning to the body *!*/
    z-index: -1;
}



.notepad-container {
    max-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}


.date-time {
     position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
}

.screen {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 15px;
}




h1 {
    text-align: center;
}

form {
    display: block;
    flex-direction: column;
    z-index:3;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 10px;
    background-color: #e1caff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
  background-color: #fd83dc;
}

img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}


.screen__background {
  width: 200%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: linear-gradient(-135deg, rgba(147, 120, 185, 0.97) 0%, rgba(185, 183, 183, 0.4) 100%);
  /*z-index: 1;*/
  animation: moveBackground 10s linear infinite;
}

.screen__background__shape {
  position: absolute;
  width: 100vmax;
  height: 100vmax;
  background: rgba(255, 255, 255, 0.03);
  clip-path: circle(20% at 90% 20%);
}

.screen__background__shape1 {
  top: 10%;
  left: 70%;
  animation: moveShape1 20s linear infinite;
}

.screen__background__shape2 {
  top: 20%;
  left: 40%;
  animation: moveShape2 20s linear infinite;
}

.screen__background__shape3 {
  top: 40%;
  left: 70%;
  animation: moveShape3 20s linear infinite;
}

.screen__background__shape4 {
  top: 60%;
  left: 40%;
  animation: moveShape4 20s linear infinite;
}

@media  (max-width: 600px) {
    .notepad-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

  .date-time {
    top: 5px;
    left: 5px;
  }

  .screen__background__shape {
    width: 150vmax;
    height: 150vmax;
    clip-path: circle(15% at 90% 20%);
  }
}